<p id="notice"><%= notice %></p>
<div class="columns">
  <div class="column">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Nome</p>
        <p><%= @product_type.name %></p>
      </div>
      <div class="tile is-child box">
        <p class="title">Tamanho</p>
        <p><%= @product_type.size %></p>
      </div>
    </div>
  </div>  
</div>
  <div class="column">
  	<div class="tile is-ancestor">
  	  <div class="tile is-4 is-vertical is-parent">
  	    <div class="tile is-child box">
  	      <p class="title">Cor</p>
  	      <p><%= @product_type.color %></p>
  	    </div>
  	  </div>
  	</div> 
  </div>
</div>

<div class="columns">
	<div class="field is-grouped is-grouped-right column is-4 is-offset-8">
	  <p class="control">
		<%= link_to 'Editar',edit_product_type_path(@product_type),class: "button is-primary" %>
	  </p>
	  <p class="control">
		<%= link_to 'Voltar', product_types_path ,class: "button is-info is-inverted"%>
	  </p>
	</div>
</div>