
<%= simple_form_for(balance_path) do |f| %>
  <div class="box">

	<div class="field-body">
	      <div class="field">
	          <label class="label">Mês</label>
	          <div class="control">
	              <%= f.input :month,label: false ,input_html: {class: 'input'}%>
	          </div>
	      </div>
	      <div class="field">
	          <label class="label">Ano</label>
	          <div class="control">
	              <%= f.input :year,label: false ,input_html: {class: 'input'}%>
	          </div>
	      </div>
  	</div>
	&nbsp;
	<div class= "control">
		<%= f.button :submit,'Enviar' ,class: "button is-primary"%>
	</div>
  </div>
<% end %>
	&nbsp;
<% if @sales.present?%>
	<h4 class="title is-4">
		<span class="tag is-primary is-medium">Número de vendas/encomendas por dia</span>
	</h4>

	<div class="box">
		<%= line_chart @sales.group_by_day(:sale_date).count %>
	</div>

	 <div class="table-container">  
	  <table class="table is-striped is-flex-tablet-only is-fullwidth">
	    <thead>
	      <tr>
	        <th>Data</th>
	        <th>Status</th>
	        <th>Email</th>
	        <th>Produtos</th>
	        <th>Observações</th>
	        <th>Total</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @sales.each do |sale| %>
	        <tr>
	          <td><%=l sale.sale_date if sale.sale_date.present? %></td>
	          <td>
	            <span class="text-muted">
	              <span class="tag is-<%= %w(dark warning danger success)[sale&.status_sale&.reference] %>">
	                <%= sale&.status_sale&.name_upper if sale.status_sale.present? %>
	              </span>
	            </span>            
	          </td>
	          <td><%=sale.user.email if sale.user.present?%></td>
	          <td>
	          	<% sale.orders.each do |order| %>
	          		<%= order.quant %> - <%= order.product.name %><br>
	          	<% end %>
	          </td>
	          <td><%=sale.note%></td>
	          <td><%=sale.total_price_saled%></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>

<% end %>

<% if @most_frequent_item.present?%>

	<h4 class="title is-4">
		<span class="tag is-primary is-medium">Produto mais Vendido no Mês</span>
	</h4>

	<div class="box">
		<span class="tag is-black"><%= @most_frequent_item.name %></span>
	</div>
<% end %>

<% if @value_total_all_sales.present?%>
	<h4 class="title is-4">
		<span class="tag is-primary is-medium">Valor total das vendas no Mês</span>
	</h4>

	<div class="box">
		<span class="tag is-black">R$<%= @value_total_all_sales%></span>
	</div>
<% end %>

<% if @total_encomendas.present?%>
	<h4 class="title is-4">
		<span class="tag is-primary is-medium">Valor total das Encomendas</span>
	</h4>

	<div class="box">
		<span class="tag is-black">R$<%= @total_encomendas%></span>
	</div>
<% end %>
<% if @encomendas_size.present?%>
	<h4 class="title is-4">
		<span class="tag is-primary is-medium">Quantidade de encomendas feitas</span>
	</h4>

	<div class="box">
		<span class="tag is-black"><%= @encomendas_size%></span>
	</div>
<% end %>
