<div class="column is-half is-offset-one-quarter">
  <article class="message is-dark">
    <div class="message-header">
      <p>Trocar sua senha</p>
  </div>
   </article>
    
  <div class="box">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= bulma_flash %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <p class="control has-icons-left">
          <%= fa_icon "lock", text: "Senha", right: true %>
          <%= f.input :password,input_html: { class: 'input'} ,placeholder: "Password", required: true %>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <%= fa_icon "lock", text: "Confirmação de senha", right: true %>
          <%= f.input :password_confirmation,input_html: { class: 'input'} ,placeholder: "Password",autocomplete: "off",required: true %>
        </p>
      </div>

      <br></br>
        <div class="field">
          <%= f.submit "Trocar minha senha" ,class: 'button is-warning'%>
        </div>
    <% end %>
  <br>
    <%= render "devise/shared/links" %>
  </div>
</div>