
<%= simple_form_for(@client) do |f| %>
  <% if f.error_notification.present?%>
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.error_notification %>
    </div>
<% end %>
<div class="box">
    <div class="field">
        <label class="label">Nome</label>
        <div class="control">
            <%= f.input :name,label: false ,input_html: {class: 'input'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">Tipo de Cliente</label>
        <div class="control">
            <%= f.association :client_type,label_method: :name,label: false ,input_html: {class: 'select big-select'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">Endereço</label>
        <div class="control">
            <%= f.input :address, label: false ,input_html: {class: 'textarea'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">CPF</label>
        <div class="control">
            <%= f.input :cpf, label: false ,input_html: {class: 'input'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">CNPJ</label>
        <div class="control">
            <%= f.input :cnpj, label: false ,input_html: {class: 'input'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">Telefone</label>
        <div class="control">
            <%= f.input :phone, label: false ,input_html: {class: 'input'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <%= f.input :email, label: false ,input_html: {class: 'input'}%>
        </div>
    </div>
    <div class= "control">
        <%= f.button :submit ,class: "button is-primary"%>
    </div>
</div>
<% end %>

