<p id="notice"><%= notice %></p>

<h1>Status Sales</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_sales.each do |status_sale| %>
      <tr>
        <td><%= status_sale.name %></td>
        <td><%= status_sale.description %></td>
        <td><%= link_to 'Show', status_sale %></td>
        <td><%= link_to 'Edit', edit_status_sale_path(status_sale) %></td>
        <td><%= link_to 'Destroy', status_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Sale', new_status_sale_path %>
