<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hello, Admin.
            </h1>
            <h2 class="subtitle">
                I hope you are having a great day!
            </h2>
        </div>
    </div>
</section>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title"><%= @clients.count  %></p>
                <p class="subtitle">Clientes</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title"><%= @products.count  %></p>
                <p class="subtitle">Produtos</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title"><%= @products_clients.count  %></p>
                <p class="subtitle">Vendas</p>
            </article>
        </div>
    </div>
</section>

<div class="columns">
    <div class="column is-6">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">
                    Clientes
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <tbody>
                            <% @clients.each do |client| %>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td><%= client.name %></td>
                                    <td width="5%"><%= link_to 'Ver', client, class: "button is-small is-primary"%></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="card-footer">
                <%= link_to 'Ver todos', clients_path ,class: "card-footer-item"%>
            </footer>
        </div>
    </div>
    <div class="column is-6">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">
                    Produtos
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <tbody>
                            <% @products.each do |product| %>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td><%= product.name %></td>
                                    <td width="5%"><%= link_to 'Ver', product, class: "button is-small is-primary"%></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="card-footer">
                <%= link_to 'Ver todos', products_path ,class: "card-footer-item"%>
            </footer>
        </div>
    </div>
</div>