
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="box">
    <div class="field">
        <label class="label">Nome</label>
        <div class="control">
            <%= f.input :name,label: false ,input_html: {class: 'input'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">Preço de Custo</label>
        <div class="control">
            <%= f.input :cost_price,label: false ,input_html: {class: 'input money'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">Taxas</label>
        <div class="control">
            <%= f.input :tax,label: false ,input_html: {class: 'input money'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">Preço de Venda</label>
        <div class="control">
            <%= f.input :sale_price,label: false ,input_html: {class: 'input money'}%>
        </div>
    </div>
    <div class="field">
        <label class="label">Quantidade</label>
        <div class="control">
            <%= f.input :quantity,label: false ,input_html: {class: 'input'}%>
        </div>
    </div>
    <div class= "control">
        <%= f.button :submit ,class: "button is-primary"%>
    </div>
  </div>
<% end %>

