<p id="notice"><%= notice %></p>
<article class="message is-dark">
  <div class="message-header">
    <p>Produtos</p>
  </div>
</article>  
<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th>Preço de custo</th>
      <th>Taxas</th>
      <th>Preço de venda</th>
      <th colspan="3">#</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.value %></td>
        <td><%= product.cost_price %></td>
        <td><%= product.tax %></td>
        <td><%= product.sale_price %></td>
        <td><%= link_to 'Ver', product ,class: "button is-small is-primary"%></td>
        <td><%= link_to 'Edit', edit_product_path(product) ,class: "button is-small is-info"%></td>
        <td><%= link_to 'Destroy', product,class: "button is-small is-danger ", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Novo Produto', new_product_path,class: "button is-link" %>
