<p id="notice"><%= notice %></p>
<article class="message is-dark">
  <div class="message-header">
    <p>Produtos</p>
  </div>
</article>
 <div class="table-container">  
  <table class="table is-striped is-flex-tablet-only">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço de custo</th>
        <th>Taxas</th>
        <th>Preço de venda</th>
        <th>Quantidade</th>
        <th align="justify" colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.cost_price %></td>
          <td><%= product.tax %></td>
          <td><%= product.sale_price %></td>
          <td><%= product.quantity %></td>
          <td><%= link_to 'Ver', product ,class: "button is-small is-primary"%></td>
          <td><%= link_to 'Editar', edit_product_path(product) ,class: "button is-small is-info"%></td>
          <td><%= link_to 'Deletar', product,class: "button is-small is-danger ", method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'Novo Produto', new_product_path,class: "button is-link" %>
