<p id="notice"><%= notice %></p>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Quantidade</p>
      <span class="tag is-info is-large"><%= @product.quantity %></span>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Quantidade Mínima</p>
      <span class="tag is-info is-large"><%= @product.low_quantity %></span>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Quantidade Disponível pra Venda</p>
      <span class="tag is-info is-large"><%= @product.quantity-@product.low_quantity %></span>
    </article>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Nome</p>
      <span class="tag is-info is-large"><%= @product.name %></span>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Preço de Custo</p>
      <span class="tag is-info is-large"><%= @product.cost_price %></span>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Preço de Venda</p>
      <span class="tag is-info is-large"><%= @product.sale_price %></span>
    </article>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Tipo de Produto</p>
      <span class="tag is-info is-large"><%= @product.product_type.name_code_of_product if @product.product_type.present? %></span>
    </article>
  </div>

</div>

<div class="columns">
  <div class="field is-grouped is-grouped-right column is-4 is-offset-8">
    <p class="control">
    <%= link_to 'Editar',edit_product_path(@product),class: "button is-primary" %>
    </p>
    <p class="control">
    <%= link_to 'Voltar', products_path ,class: "button is-info is-inverted"%>
    </p>
  </div>
</div>



