<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="columns">
    <div class="field column is-one-third">
        <label class="label">Data da Venda</label>
        <div class="control">
            <%= f.input :sale_date,html5: true,label: false ,input_html: {class: 'input'}%>
        </div>
    </div>
    <div class="field column is-one-third">
        <label class="label">Cliente</label>
        <div class="control">
            <%= f.association :client,label: false ,input_html: {class: 'select'}%>
        </div>
    </div>
  </div>
  <div class="columns">
    <div class="field">
        <label class="label">Produtos</label>
        <div class="control">
            <%= f.association :products,as: :select,multiple: true,label: false ,input_html: {class: 'select is-multiple productsSelect'}%>
        </div>
    </div>
  </div>
  <div class="columns">
    <div class="field is-grouped is-grouped-right column is-4 is-offset-8">
      <p class="control">
        <%= f.button :submit ,class: "button is-primary"%>
      </p>
      <p class="control">
       <%= link_to 'Voltar', sales_path ,class: "button is-light is-inverted"%>
      </p>
    </div>
  </div>
<% end %>

