<%= simple_form_for(@sale) do |f| %>
    <%= f.error_notification %>
    <% if @sale.errors.full_messages.size > 0 %>
      <div class="notification is-warning">
        <button class="delete"></button>
      <% @sale.errors.full_messages.each do |msg|%>
        <ol>
          <li class="nostyle"><%= msg %></li>
        </ol>
      <% end %>
      </div>
    <% end %>

<br>
  <div class="columns">
    <div class="field column is-one-third">
        <label class="label">Data da Venda</label>
        <div class="control">
            <%= f.input :sale_date,html5: true,label: false ,input_html: {class: 'input'}%>
        </div>
    </div>
    <div class="field column is-half">
        <label class="label">Cliente</label>
        <div class="control">
            <%= f.association :client,label: false ,input_html: {class: 'select big-select'}%>
        </div>
    </div>
  </div>

  <article class="message is-dark">
    <div class="message-header">
      <p>Produtos</p>
    </div>
   </article>

    <div class="field" id ="orders">
      <%= f.simple_fields_for :orders do |c| %>
        <%= render 'order_fields', f: c %>
      <% end %>
    </div>
    <div class="field">
      <%= link_to_add_association '+Produtos', f, :orders,class: "button is-success"%>
    </div>

  <div class="columns">
    <div class="field is-grouped is-grouped-right column is-4 is-offset-8">
      <p class="control">
        <%= f.button :submit ,class: "button is-primary"%>
      </p>
      <p class="control">
       <%= link_to 'Voltar', sales_path ,class: "button is-light is-inverted"%>
      </p>
    </div>
  </div>
<% end %>

