<p id="notice"><%= notice %></p>
<article class="message is-dark">
  <div class="message-header">
    <p>Vendas</p>
  </div>
</article>  
 <div class="table-container">  
  <table class="table is-striped is-flex-tablet-only">  <thead>
      <tr>
        <th>Cliente</th>
        <th>Data da Venda</th>
        <th>Produtos</th>
        <th colspan="4" align="justify">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%=sale.client.name %></td>
          <td><%=l sale.sale_date if sale.sale_date.present? %></td>
          <% sale.orders.each do |p| %>
            <td>
              <%= p.quant %> /
              <%= p.product.name %>
            </td>
          <% end %>
          <td><%= link_to 'Ver', sale ,class: "button is-small is-primary"%></td>
          <td><%= link_to 'Editar', edit_sale_path(sale) ,class: "button is-small is-info"%></td>
          <td><%= link_to 'Deletar', sale,class: "button is-small is-danger ", method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'Nova Venda', new_sale_path,class: "button is-link" %>
