<p id="notice"><%= notice %></p>
<article class="message is-dark">
  <div class="message-header">
    <p>Vendas</p>
  </div>
</article>

<div class="box">
  <%= search_form_for @q, url: sales_path, html: {method: :get} do |f| %>
  <div class="field-body">
      <div class="field">
          <label class="label">Data</label>
          <div class="control">
              <%= f.search_field :sale_date_eq,html5: true,class: 'input',label: false %>
          </div>
      </div>
      <div class="field">
          <label class="label">Cliente</label>
          <div class="control">
              <%= f.search_field :client_name_cont,class: 'input',label: false %>
          </div>
      </div>
  </div>
  <div class= "field">
      <div class="control">
      </div>
  </div>
  <div class="field-body">
     <div class="field">
       <div class="control">
        <%= f.submit "Pesquisar", class: 'button is-primary' %>
       </div>
     </div>
  </div>
<% end %>
<br>
 <div class="table-container">  
  <table class="table is-striped is-flex-tablet-only is-fullwidth">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Data da Venda</th>
        <th>Produtos</th>
        <th colspan="3" align="center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%=sale.client.name %></td>
          <td><%=l sale.sale_date if sale.sale_date.present? %></td>
          <td>
            <% sale.orders.each do |p| %>
              <%= p.product.name %><br>
            <% end %>
            </td>
            <td>
              <%= render 'shared/action_links', object: sale %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
 <div class="box">
   <div class="columns is-gapless is-multiline is-mobile">
     <%= paginate @sales %>
   </div>
</div>
<%= link_to 'Nova Venda', new_sale_path,class: "button is-link" %>
</div>