<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InventoryTowakai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <body>
    <nav class="navbar">
         <div class="container">
             <div class="navbar-brand">
                <%= link_to root_path,class: "navbar-item" do%>
                      Inventory
                    <% end %>

                    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                    </a>
             </div>
             <div class="navbar-menu" id="navMenu">
                 <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="field is-grouped">
                      <p class="control">
                        <%= link_to("Produtos", products_path ,class: "bd-tw-button button") %>
                      </p>
                      <p class="control">
                        <%= link_to("Clientes", clients_path ,class: "bd-tw-button button") %>
                      </p>
                    </div>
                  </div>
                 </div>
             </div>
         </div>
    </nav>

    <div class="container">
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
        </div>
        <div class="section">
              <%= yield %>
      </div>
    </div>

  </body>
</html>

