<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InventoryTowakai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar is-white">
      <div class="container">
          <div class="navbar-brand">
              <%= link_to "Towakai Admin", root_path ,class: "navbar-item brand-text" %>
              <div class="navbar-burger burger" data-target="navMenu">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
          <div id="navMenu" class="navbar-menu">
              <div class="navbar-start">
                <%= link_to "Clientes", clients_path ,class: "navbar-item" %>
                <%= link_to "Produtos", clients_path ,class: "navbar-item" %>
                <a class="navbar-item" href="admin.html">
                  Estatisticas
                </a>
              </div>
          </div>
      </div>
  </nav>
  <!-- END NAV -->
  <div class="container">
      <div class="columns">
          <div class="column is-3 ">
              <aside class="menu is-hidden-mobile">
                  <p class="menu-label">
                      General
                  </p>
                  <ul class="menu-list">
                      <li><a class="is-active">Dashboard</a></li>
                      <li><a>Customers</a></li>
                  </ul>
                  <p class="menu-label">
                      Administration
                  </p>
                  <ul class="menu-list">
                      <li><a>Team Settings</a></li>
                      <li>
                          <a>Manage Your Team</a>
                          <ul>
                              <li><a>Members</a></li>
                              <li><a>Plugins</a></li>
                              <li><a>Add a member</a></li>
                          </ul>
                      </li>
                      <li><a>Invitations</a></li>
                      <li><a>Cloud Storage Environment Settings</a></li>
                      <li><a>Authentication</a></li>
                  </ul>
                  <p class="menu-label">
                      Transactions
                  </p>
                  <ul class="menu-list">
                      <li><a>Payments</a></li>
                      <li><a>Transfers</a></li>
                      <li><a>Balance</a></li>
                  </ul>
              </aside>
          </div>
          <div class="column is-9">
            <%= yield %>
          </div>
      </div>
  </div>

</body>