<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InventoryTowakai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'k-icon.ico', :rel => 'shortcut icon' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

</head>

<body>
  <!-- START NAV -->
  <nav class="navbar is-white">
      <div class="container">
          <div class="navbar-brand">
              <%= link_to "Towakai Admin", root_path ,class: "navbar-item brand-text" %>
                <% if current_user.present? %>
                  <div class="navbar-burger burger" data-target="navMenu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
              </div>
      
                  <div id="navMenu" class="navbar-menu">
                      <div class="navbar-start">
                        <%= link_to "Clientes", clients_path ,class: "navbar-item" %>
                        <%= link_to "Produtos", products_path ,class: "navbar-item" %>
                        <%= link_to "Vendas", sales_path ,class: "navbar-item" %>
                        <div class="navbar-item has-dropdown is-hoverable">
                          <a class="navbar-link">
                            Estatisticas
                          </a>
                          <div class="navbar-dropdown">
                            <%= link_to "Mês", statistics_path ,class: "navbar-item" %>
                            <%= link_to "Busca", balance_path ,class: "navbar-item" %>
                          </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable">
                          <a class="navbar-link">
                            Outros Cadastros
                          </a>
                          <div class="navbar-dropdown">
                            <%= link_to "Tipo de Produto", product_types_path ,class: "navbar-item" %>
                            <%= link_to "Tipo de Clientes", client_types_path ,class: "navbar-item" %>
                            <%= link_to "Status de Venda", status_sales_path ,class: "navbar-item" %>
                            <%= link_to "Tipo de Pagamento", payment_types_path ,class: "navbar-item" %>
                          </div>
                        </div>
                        <% if current_user.has_role?(:admin)%>
                          <%= link_to "Usuários", users_path ,class: "navbar-item" %>
                        <% end %>
                      </div>
                      <div class="navbar-end">
                           <span class="navbar-item"><%=current_user.email %></span>
                             <div class="navbar-item has-dropdown is-hoverable">
                                 <%= link_to('Sair'.html_safe,  destroy_user_session_path() , method: 'delete',class: 'navbar-link')%>
                             </div>
                      </div>
                    </div>
              <% end %>
      </div>
  </nav>
  <!-- END NAV -->
  <div class="container">
      <div id="flow">
          <span class="flow-1"></span>
          <span class="flow-2"></span>
          <span class="flow-3"></span>
      </div>
      <div class="section">
        <% if notice.present? %>
          <div class="notification is-success">
            <button class="delete"></button>
            <%= notice %>
          </div>
        <% end %>
        <%= yield %>
    </div>
  </div>

</body>